<section class="section">
  <h3 class="title is-4">Your Orders</h3>
  <div class="column">
    <%= render partial: 'orders/order',
              collection: @orders,
              locals: {name_is_link: true} %>
  </div>
</section>