<h2 class="title is-4">Goldenrod Department Store - Floors</h2>

<div class="content">
<ol class="is-upper-roman">
<% @categories.each do |category| %>
  <% if category.name == "1F Service Counter" %>
    <li><%= link_to category.name, about_us_path, class: 'button is-link' %></li>
  <% else %>
    <li><%= link_to category.name, category, class: 'button is-link' %></li>
  <% end %>
<% end %>
</ol>
</div>
